version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    # environment:
    #   - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/remind_anyone
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15
    command: [ "postgres", "-c", "log_min_messages=WARNING", "-c", "log_min_error_statement=WARNING" ]
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=remind_anyone
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
